@{
    ViewData["Title"] = "R.O.B.O Controller Interface";
}

<div class="text-center">
    @Html.ActionLink("R.O.B.O Controller API", "Index", "ROBOApi", null, new { @class = "btn btn-primary" })
</div>
